.nfts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 70vh;

    margin-top: 20px;
    color: #3A3845;
}

.nfts>div {
    width: 45%;
    height: 50vh;
    border-radius: 5px;
    padding: 1.5vh 8vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.nfts>div>div {
    width: 100%;
    height: 70vh;
    background-color: #C69B7B;
    display: flex;
    border-radius: 5px;
}

.nfts>div>h3 {
    padding: 1.5vh 8vh;
    background-color: #C69B7B;
    border-radius: 5px;
}

.common-info {
    background-color: #C69B7B;
    border-radius: 5px;
    padding: 1.5vh 8vh;
    flex-direction: column;
    margin-top: 10px;
}

.inventory {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-evenly;
    padding-top: 50px;
    overflow-y: scroll;
    position: relative
}

.inventory span {
    /* display: inline-block; */
    position: absolute;
    float: right;
}

.inventory>div {
    width: 23%;
    padding: 5px;
    background-color: #3A3845;
    cursor: pointer;
    margin-bottom: 10px;
}


.token-selected {
    border: 0.5px white solid;
}

.nft-detail {
    display: flex;
    padding: 75px;
    flex-direction: column;
    flex-wrap: nowrap;
}

.nft-detail table,
.nft-detail thead {
    border: 0.5px black solid;
}

.nfts div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #3A3845;
    background-color: #F5F5F5;
}

.nfts div::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.nfts div::-webkit-scrollbar-thumb {
    background-color: #3A3845;
    /* border: 2px solid #3A3845; */
}

.nfts table{
    text-align: center;
}

.table-loading{
    opacity: .5;
}

.kyc{
    background-color: rgba(178, 178, 178, .75);
    width: 100%;
    text-align: center;
    padding: 10px 0 ;
}


.common-info table th{
    text-align: left;
}
.common-info table td{
    text-align: right;
}