#root {
  font-family: GravityRegular5;
}
.App {
  text-align: center;
  font-family: GravityRegular5;
}

.blur {
  box-shadow: 0 0 17px 17px #0b1418 inset;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
  background: #0b1418;
}

main {
  background-color: #061217;
  min-height: 70vh;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
main p {
  color: white;
  font-size: x-small;
}
footer {
  min-height: 10vh;

  background: #0b1418;
}

button {
  cursor: pointer;
}
